alembic==1.4.3
alipay==0.7.4
aliyun-iot-linkkit==1.2.3
altgraph==0.17
aniso8601==8.0.0
api==0.0.7
appdirs==1.4.4
appi==0.2.5
argon2-cffi==20.1.0
asgiref==3.3.1
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
baidu-aip==2.2.18.0
beautifulsoup4==4.9.3
bidict==0.21.2
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
config==0.5.0.post0
constantly==15.1.0
crcmod==1.7
crypto==1.4.1
cryptography==3.2.1
cssselect==1.1.0
cycler==0.10.0
decorator==5.0.6
defusedxml==0.7.1
dingtalk==0.0.5
distlib==0.3.1
Django==3.1.6
django-tinymce==3.2.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
dominate==2.6.0
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.30.2
export==0.1.2
Faker==4.14.0
filelock==3.0.12
flash==1.0.3
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.9.0
Flask-Ext==0.1
Flask-Flash==1.6.8
Flask-HTTPAuth==4.1.0
Flask-Login==0.5.0
Flask-Login-Multi==0.1.2
flask-marshmallow==0.14.0
Flask-Migrate==2.3.1
flask-paginate==0.7.1
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SocketIO==3.0.2
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
h2==3.2.0
hpack==3.0.0
hyper==0.7.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
inflect==4.1.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lxml==4.6.3
Mako==1.1.3
MarkupSafe==2.0.1
marshmallow==3.8.0
marshmallow-sqlalchemy==0.24.0
matplotlib==3.4.1
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.22
Naked==0.1.31
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nose==1.3.7
notebook==6.3.0
numpy==1.19.3
opencv-contrib-python==4.5.2.52
opencv-python==4.5.1.48
opener==0.0.4
openpyxl==3.0.7
packaging==20.9
paho-mqtt==1.5.1
pandas==1.2.1
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
pbr==5.5.1
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.1.0
prettytable==2.1.0
priority==1.3.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.9.4
PyDispatcher==2.0.5
pyecharts==1.9.0
Pygments==2.8.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMySQL==0.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-alipay-sdk==3.0.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.2
python-socketio==4.2.0
pytz==2020.1
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
queuelib==1.6.1
redis==3.5.3
requests==2.24.0
rpi==0.0.1
schedule==1.0.0
scikit-learn==0.24.1
scikit-opt==0.6.3
scipy==1.6.2
Scrapy==2.5.0
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
shellescape==3.8.1
shortuuid==0.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
soupsieve==2.2
splinter==0.14.0
SQLAlchemy==1.3.20
sqlparse==0.4.1
stevedore==3.2.2
stomp.py==6.1.0
stu==1.1.1
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
urllib3==1.25.11
v==0.0.0
virtualenv==20.1.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
visitor==0.1.3
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
WTForms==2.2.1
xlrd==2.0.1
zmail==0.2.8
zope.event==4.5.0
zope.interface==5.2.0
